.bandeirasSelectContainner{
	width: 340px;
	height: 50px;
}

.select2-choice{
	height: 34px !important;
}

.modal-body{
	overflow: scroll;
	height: 500px;
}

.top20{
	margin-top: 20px;
}

.left20{
	margin-left: 20px;
}

.right20{
	margin-right:20px;
}

select[name=bandeira]{
	border: 0px !important;
}

.width50{
	width:50px;
}
.width100{
	width:100px;
}

.marginLeft20{
	margin-left:20px;		
}
input[type="text"], a[contenteditable=true]{
	text-transform:uppercase;
}

.valid{
	background-image: url('../../../../../resources/img/tick.png');
	background-repeat: no-repeat;
	background-position: 456px, 50px;	
}

.invalid{
	background-image: url('../../../../../resources/img/delete.png');
	background-repeat: no-repeat;
	background-position: 456px, 50px;		

}
.has-feedback .form-control {
	padding-right: 0px !important;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

