#mainWrapper{
	/*width: 1366px;*/
	margin: 0 auto;
	height: 100%;
}

.all{
	min-height: 100%;
	min-width: 100%;
	position: absolute;	
}

#contentWrapper{
	height: 100%;
	padding: 40px;
	background: #FFF;
}

#loginForm {
	margin-left: 33%;
	padding-top: 10%;
	width: 50%;
	height: 50%;
}

h1:first-child {
	margin-bottom: 5%;
	margin-left: 20%;
	font-size: 50px;
}

#ui-datepicker-div{
	width: 280px;
}
#nota{
	margin-left: 15%;
	color: red;
}

/*******************************************/
/* Footer
/*******************************************/
.footerInner{
	padding:15px;
	font-size: 12px;
	text-align: center;
}
footer{
	background:#428bca !important;
	color:#FFF !important;
	width:100%;
	bottom:0;
	position: absolute;
}


/*******************************************/
/* Procedimentos
/*******************************************/
.filePdf{
	padding-left:50px !important; 
}
.dirPdf {
	font-weight: bold;
}
