.top20{
	margin-top: 20px;
}
.left20{
	margin-left: 20px;
}
.right20{
	margin-right:20px;
}
.width50{
	width:50px;
}
.width100{
	width:100px;
}
.marginLeft20{
	margin-left:20px;
}
#gerLinhas_table thead th span{
	cursor:pointer;
}
#gerLinhas_table tbody tr td.show{
	cursor:pointer;
}
.modal-content{
	overflow: auto !important;
	max-height: 600px !important;
}
.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
