/* Painel */
#selectLojasBtn{
	margin-left:15px;
}

#selLoja{
	margin-bottom:10px;
}

/* Modal de colaboradores */
.ui-dialog{
	height: 600px !important;
	width: 900px !important;	
}

.listaColaboradores{
	margin: 50px 0 0 28px;
}

/* Tabela de colaboradores */
.checkboxTD {
	width: 15px;
}

.optionTD{
	width: 15px;
}

.matriculaTD{
	width: 159px;
}

#addDataUser tr td:nth-child(1){
	width: 159px;	
}

.optionLabelTD{
	width: 68px;
}

#consultarColaborador{
	margin-left: 50px;
}

#toSearch{
	width: 330px;
	margin-right: 30px;
}

.par{
	background: #E8E8E8;
}

.impar{
	background: #FFF;
}

.theFirst {
	background: #ADC4DC !important;
	color: #000;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}

.matTD{
	width: 208px;
}

.userToAddList tr:not(:first-child):hover{
	background:#CCC;
}

#addToList{
	margin-top:15px;
}

#addToList:hover{
	background: #ADC4DC !important;
}

#addDataUser tr:hover{
	background:#CCC;
}

.selected{
	background: #CCC;
}

